@model HomePageModel
@{
    if (Model.IsUserManager)
    {
        Layout = "~/Views/Shared/_ManagerLayout.cshtml";

    }
    else
    {
        Layout = "~/Views/Shared/_UserLayout.cshtml"; 
        
    }
}

<div class="container mt-4">
    <div class="row">
        <div class="col-md-3">
            <div class="card">
                <div class="card-header text-dark">
                    Kullanıcı Bilgileri
                </div>
                <div class="card-body">
                    <p><strong>Ad:</strong> @Model.User.UserName</p>
                    <p><strong>Email:</strong> @Model.User.Email</p>
                    <p><strong>Şirket: </strong> @Model.CompanyName</p>
                    <p><strong>Departman: </strong> @Model.DepartmentName</p>
                    @if (Model.IsUserManager)
                    {
                        <p><strong>Yönetici: </strong> Yöneticisi yok</p>

                    }
                    else
                    {
                        <p><strong>Yönetici: </strong> @Model.ManagerName</p>
                    }
                </div>
            </div>
        </div>

        <div class="col-md-9">
            <div class="card">
                <div class="card-header  text-dark">
                    Bugünkü Etkinlikler
                </div>
                <div class="card-body">
                    @if (Model.Events.Any())
                    {
                        <ul class="list-group">
                            @foreach (var ev in Model.Events)
                            {
                                <li class="list-group-item">
                                    <strong>@ev.Title</strong> - @ev.StartDate.ToString("HH:mm")
                                </li>
                            }
                        </ul>
                    }
                    else
                    {
                        <p>Bugün herhangi bir etkinlik yok.</p>
                    }
                </div>
            </div>
        </div>
    </div>

 
</div>
